.mot {
    display: flex;
}

.mot>div {
    font-size: 5vw;
    text-shadow: 6px 2px 6px rgba(0, 0, 0, 0.7);
    animation: animationLettre .4s both;
}



@keyframes animationLettre {
    from {
        /* opacity:  0; */
        transform: translateX(75vw) rotate(180deg) rotateX(360deg) rotateY(360deg) scale(1);
        animation-timing-function: cubic-bezier(.36,.01,.37,.98)
    }

  

    to {
        /* opacity:  1; */
        transform: translateX(0%) rotate(0deg) rotateX(0deg) rotateY(0deg) scale(1);
    }

}