$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #505352;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__menu-nav : #202322;
$color__text-screen: white;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: rgb(122, 150, 141);
$color__link-visited: rgb(29, 33, 95);
$color__link-hover: rgb(25, 112, 86);
$color__text-main: white;

$color__border-button: #252726 #252726 #252726;
$color__border-button-hover: #505352 #505352 #505352;
$color__border-button-focus: white white white;
$color__border-input: #ccc;
$color__border-abbr: #666;
